/* header */
header {
  flex-direction: column;
}

.menu {
  flex-direction: column;
}

.hero {
  padding: 0 1rem;
}

.section-1,
.section-3 {
  padding: 1rem 2rem;
  background-color: #f1f1f1;
}

.houses {
  flex-direction: column;
}

.section-2 {
  flex-direction: column;
}

.team-img {
  min-height: 300px;
}

.contact {
  padding: 1rem 2rem;
}
