/* Global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.separator {
  display: block;
  margin: 20px auto;
  height: 0.2rem;
  width: 5rem;
  background: #333;
}

/* header style */
.hero-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-flow: row nowrap;
  background-color: #010001;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  font-size: 2rem;
  font-family: "Long Cang", cursive;
  padding: 0.5rem 1rem;
  color: #f4442e;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.nav-brand a {
  color: white;
}

.nav-brand i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.menu {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
}

.nav-item {
  color: white;
  padding: 0 1rem;
}

.nav-item:hover {
  color: #f4442e;
}

.hero {
  flex: auto;
  background: url(../images/hero.jpg) center center/cover;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20rem;
}

.hero h1 {
  margin-bottom: 1rem;
}

.hero span {
  color: #f4442e;
}

/* section 1*/

.section-1,
.section-3 {
  padding: 5rem 10rem;
  background-color: #f1f1f1;
}

.houses {
  display: flex;
  flex-wrap: row nowrap;
  justify-content: space-between;
}

.house {
  flex: 1;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
}

.house-img {
  width: 100%;
  height: 200px;
}

.house-content {
  background-color: white;
  padding: 5px;
}

.house-content h3 {
  margin: 0.5rem 0;
}

/* section 2*/
.section-2 {
  display: flex;
  flex-wrap: row nowrap;
  min-height: 400px;
}

.team-img {
  flex: 1;
  background: url(../images/team.jpg) center center / cover;
}

.team-content {
  flex: 1;
  background-color: #010001;
  color: white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-content h2 {
  margin-bottom: 1rem;
}

.team-content h2 span {
  color: #f4442e;
}

/* section 3 */

.avi {
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  background-color: white;
  border-radius: 0.5rem;
  align-items: center;
  flex: 1;
}

.avi p {
  flex: 4;
}

.avi-content {
  flex: auto;
  text-align: center;
}

.avatar {
  vertical-align: middle;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-bottom: 0.3rem;
}

/* contact */
.contact {
  background-color: #010001;
  padding: 5rem 20rem;
  color: white;
}

.contact h2 {
  text-align: center;
}

.contact h2 span {
  color: #f4442e;
}

.contact form label {
  display: block;
}

.contact form input,
textarea {
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.contact form .btn {
  text-align: center;
}

.btn {
  display: block;
  background-color: #f4442e;
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
}

/* footer */
footer {
  background-color: #333;
  text-align: center;
  color: white;
  padding: 4rem 0;
}
